### 3.1 Data Structures and Sequences

#### Tuple
fixed-length, immutable

In [32]:
# Ways to create a tuple
tup1 = (1, 2, 3, 4)
tup2 = 4, 5, 6
tup3 = tuple("Hello")

print(tup1, tup2, tup3, sep = "\n")

(1, 2, 3, 4)
(4, 5, 6)
('H', 'e', 'l', 'l', 'o')

In [33]:
# Accessing elements
print(tup1[0])

1

In [34]:
# Nested tuples
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup[0], nested_tup[0][0], sep="\n")

(4, 5, 6)
4

In [35]:
# Not possible to modify elements of a tuple
tup = tuple(["hi", [1, 2], True])
print(tup)

try:
    tup[0] = False
except TypeError:
    print("A TypeError exception occured.")

('hi', [1, 2], True)
A TypeError exception occured.

In [36]:
# if an object of a tuple is mutable, it can be modified in place
tup[1].append(3)
tup

('hi', [1, 2, 3], True)

In [37]:
# Concatenation
tup1 = 1, 2
tup2 = 3, 4, 5
tup3 = tup1 + tup2

tup3

(1, 2, 3, 4, 5)

##### *Unpacking Tuples*

In [39]:
tup = 1, 2, 3
a, b, c = tup

print(a, b, c)

1 2 3

In [40]:
tup = 1, 2, (3, 4, 5)
a, b, c = tup
c

(3, 4, 5)

In [41]:
tup = (1, 2, 3), (4, 5, 6), (7, 8, 9)
for a, b, c in tup:
    print(f"a={a}, b={b}, c={c}")

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [43]:
vals = 1, 2, 3, 4, 5, 6, 7
a, b, *rest = vals       # can use underscore(_) to discard
rest

[3, 4, 5, 6, 7]

In [45]:
# Tuple Methods
tup = 1, 2, 3, 3, 3, 3, 3, 3, 4, 5, 6, 7, 3
tup.count(3)

7

#### List
mutable, variable length

In [48]:
# Creating lists
list1 = [1, 2, 3, 4]
tup = 1, 2
list2 = list(tup)

print(list1, list2, list1[0], sep="\n")

[1, 2, 3, 4]
[1, 2]
1

In [58]:
generator = range(0,10)
list1 = list(generator)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# Add and Remove
list1.append("last")
print(list1)

list1.insert(0,"first")
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'last']
['first', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'last']

In [60]:
list1.pop(-1)
print(list1)

['first', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list1.remove(0)
list1

['first', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
print("first" in list1)
list1.remove("first")
print("first" in list1)

True
False

In [64]:
# Concatenation and combining lists
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8] 

list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
list_of_lists = [[1, 2], [3, 4, 5], [6]]
list1 = []

for item in list_of_lists:
    list1.extend(item)

list1

[1, 2, 3, 4, 5, 6]

In [67]:
# Sorting
list1 = [4, 5, 2, 1, 9, 22, 45, 12, 14]
list1.sort()
list1

[1, 2, 4, 5, 9, 12, 14, 22, 45]

In [73]:
list1 = ["Hi", "Array", "Data", "slower", "fast", "panda"]
list1.sort()
list1

['Array', 'Data', 'Hi', 'fast', 'panda', 'slower']

In [74]:
list1 = ["Hi", "Array", "Data", "slower", "fast", "panda"]
list1.sort(key=len)
list1

['Hi', 'Data', 'fast', 'Array', 'panda', 'slower']

##### Slicing

In [75]:
seq = [1, 2, 3, 4, 5, 6, 7, 8, 9]
seq[1:4]

[2, 3, 4]

In [76]:
seq[1:4] = [0, 0, 0, 0]
seq

[1, 0, 0, 0, 0, 5, 6, 7, 8, 9]

In [84]:
seq = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(f"First 3 elements: seq[:3] = {seq[:3]}")
print(f"Fourth element to last: seq[3:] = {seq[3:]}")
print(f"Last 3 elements: seq[-3:] = {seq[-3:]}")
print(f"seq[-4:-1] = {seq[-4:-1]}")

First 3 elements: seq[:3] = [1, 2, 3]
Fourth element to last: seq[3:] = [4, 5, 6, 7, 8, 9]
Last 3 elements: seq[-3:] = [7, 8, 9]
seq[-4:-1] = [6, 7, 8]

In [86]:
print(f"Take every other element: seq[::2] = {seq[::2]}")
print(f"Reverse of a sequence: seq[::-1] = {seq[::-1]}")

Take every other element: seq[::2] = [1, 3, 5, 7, 9]
Reverse of a sequence: seq[::-1] = [9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Dictionary

In [93]:
d1 = {"a": "Hi", "b": [1, 2, 3]}
d1

{'a': 'Hi', 'b': [1, 2, 3]}

In [94]:
d1[3] = "new"
d1

{'a': 'Hi', 'b': [1, 2, 3], 3: 'new'}

In [95]:
"b" in d1

True

In [96]:
del d1[3]
d1

{'a': 'Hi', 'b': [1, 2, 3]}

In [97]:
val = d1.pop("b")
print(d1, val, sep="\n")

{'a': 'Hi'}
[1, 2, 3]

In [102]:
# Keys and Values
d1 = {"a": "Hi", "b": [1, 2, 3], "c": 6}
keys = list(d1.keys())
vals = list(d1.values())

print(f"Keys:   {keys}\nValues: {vals}")

Keys:   ['a', 'b', 'c']
Values: ['Hi', [1, 2, 3], 6]

In [103]:
# iterating over
for key, value in d1.items():
    print(f"Key: {key} --- Value: {value}")

Key: a --- Value: Hi
Key: b --- Value: [1, 2, 3]
Key: c --- Value: 6

In [104]:
# Merging dicts
d1.update({"b": "changed", "c": "new"})
d1

{'a': 'Hi', 'b': 'changed', 'c': 'new'}

##### Creating Dictionaries from Sequences

In [106]:
tuples = zip(range(6), reversed(range(6)))

dict1 = dict(tuples)
dict1

{0: 5, 1: 4, 2: 3, 3: 2, 4: 1, 5: 0}

##### setdefault

In [108]:
# Categorizing a list of words by their first letter by not using setdefault
words = ["alpha", "beta", "delta", "adapt", "ad", "bravo", "char", "echo", "fox"]
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = []
    by_letter[letter].append(word)
by_letter

{'a': ['alpha', 'adapt', 'ad'],
 'b': ['beta', 'bravo'],
 'd': ['delta'],
 'c': ['char'],
 'e': ['echo'],
 'f': ['fox']}

In [109]:
# Categorizing a list of words by their first letter with setdefault
words = ["alpha", "beta", "delta", "adapt", "ad", "bravo", "char", "echo", "fox"]
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['alpha', 'adapt', 'ad'],
 'b': ['beta', 'bravo'],
 'd': ['delta'],
 'c': ['char'],
 'e': ['echo'],
 'f': ['fox']}

In [116]:
# Even easier way
from collections import defaultdict
by_letter={}
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list,
            {'a': ['alpha', 'adapt', 'ad'],
             'b': ['beta', 'bravo'],
             'd': ['delta'],
             'c': ['char'],
             'e': ['echo'],
             'f': ['fox']})

##### Valid dictionary key types
Keys should be immutable

In [123]:
print(hash("string"), hash(2), hash((1, 2, 3, (4, 5,))), sep="\n")

try:
    print(hash((1, 2, 3, [4, 5])))
except TypeError:
    print("TypeError occured since tuple has immutable elements")

try:
    print(hash([1, 2, 3]))
except TypeError:
    print("TypeError occured since lists are mutable")

6855552267352188548
2
-6766371705598827417
TypeError occured since tuple has immutable elements
TypeError occured since lists are mutable

In [124]:
# Convert list to tuple to be able to use it as a key of a dict
list1 = [1, 2, 3]
tup = tuple(list1)

d1 = {}
d1[tup] = "first"
d1

{(1, 2, 3): 'first'}